---
// Associate companies section

import { Image } from "astro:assets";

import cannaDevices from "@/assets/images/companies/cannadevices.png";
import cookies from "@/assets/images/companies/cookies.png";
import dipDevices from "@/assets/images/companies/dip-devices.png";
import huniBadger from "@/assets/images/companies/huni-badger.png";
import nectarCollector from "@/assets/images/companies/nectar-collector.jpg";
import ooze from "@/assets/images/companies/ooze.png";
import philterLabs from "@/assets/images/companies/philter-labs.jpg";
import cloudSupply from "@/assets/images/companies/the-cloud-supply.png";
---

<ul id="thumbnails" class="grid grid-cols-2 md:grid-cols-4 xl:grid-cols-8">
  <li>
    <a href="https://www.cookies.co" target="_blank">
      <Image src={cookies} alt="Cookies" loading="lazy" />
    </a>
  </li>
  <li>
    <a href="https://www.hunibadger.com" target="_blank">
      <Image src={huniBadger} alt="Huni Badger" loading="lazy" />
    </a>
  </li>
  <li>
    <a href="https://www.nectarcollector.com" target="_blank">
      <Image
        src={nectarCollector}
        alt="Nectar Collector"
        class="invert"
        loading="lazy"
      />
    </a>
  </li>
  <li>
    <a href="https://www.philterlabs.com" target="_blank">
      <Image src={philterLabs} alt="Philter Labs" loading="lazy" />
    </a>
  </li>
  <li>
    <a href="https://www.oozelife.com" target="_blank">
      <Image src={ooze} alt="ooze" loading="lazy" />
    </a>
  </li>
  <li>
    <a href="https://www.thecloudsupply.com" target="_blank">
      <Image src={cloudSupply} alt="The Cloud Supply" loading="lazy" />
    </a>
  </li>
  <li>
    <a href="https://www.dipdevices.com" target="_blank">
      <Image src={dipDevices} alt="Dip Devices" loading="lazy" />
    </a>
  </li>
  <li>
    <a href="https://cannadevices.com" target="_blank">
      <Image src={cannaDevices} alt="CannaDevices" loading="lazy" />
    </a>
  </li>
</ul>
